<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <!-- Basic registration form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center">
                                        <h3 class="fw-light my-4">Add Sensor</h3>
                                    </div>
                                    <div class="card-body">
                                        <!-- Registration form-->
                                        <form action="/insertSensor" method="post">
                                            <!-- Form Row-->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputSensor">Name Sensor</label>
                                                <input class="form-control" id="inputSensor" type="text"
                                                    name="namesensor" placeholder="Enter namesensor" required />
                                            </div>
                                            <select class="form-select mb-3" aria-label="Default select example"
                                                name="sensorPin">
                                                <% if (doc) { %>
                                                    <%= doc %>
                                                        <option selected>Determine which pin to connect</option>
                                                        <% var options1=["0", "1", "2", "3", "4", "5", "6", "7", "8" ]; %>
                                                            <% const output=options1.filter(function (obj) { return JSON.stringify(doc).indexOf(obj)===-1; }); %>
                                                                <% for(var i=0; i < output.length; i++) { %>
                                                                    <option value="<%= output[i] %>">
                                                                        <%= output[i] %>
                                                                    </option>
                                                                <% } %>
                                                <% } %>
                                            </select>
                                            <!-- Form Group (create Microcontroller)-->
                                            <button class="btn btn-primary btn-block" type="submit">Create
                                                Microcontroller</button>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/tables">Back Table</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <%- include('footer.ejs') %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="js/scrollpos.js"></script>
    </body>

</html>