<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        <%= title%>
    </title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="nav-fixed">
    <%- include('navbar.ejs') %>
        <div id="layoutSidenav">
            <%- include('sidebar.ejs') %>
                <div id="layoutSidenav_content">
                    <main>
                        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                            <div class="container-xl px-4">
                                <div class="page-header-content pt-4">
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-auto mt-4">
                                            <h1 class="page-header-title">
                                                <div class="page-header-icon"><i data-feather="activity"></i></div>
                                                Dashboard
                                            </h1>
                                            <div class="page-header-subtitle">Example dashboard overview and content
                                                summary</div>
                                        </div>
                                        <div class="col-12 col-xl-auto mt-4">
                                            <div class="input-group input-group-joined border-0" style="width: 16.5rem">
                                                <span class="input-group-text"><i class="text-primary"
                                                        data-feather="calendar"></i></span>
                                                <input class="form-control ps-0 pointer" id="litepickerRangePlugin"
                                                    placeholder="Select date range..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <!-- Main page content-->
                        <div class="container-xl px-4 mt-n10">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-12 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body h-100 p-5">
                                            <div class="row align-items-center">
                                                <div class="col-xl-8 col-xxl-12">
                                                    <div
                                                        class="text-center text-xl-start text-xxl-center mb-4 mb-xl-0 mb-xxl-4">
                                                        <h1 class="text-primary">Welcome to SB Admin Pro!</h1>
                                                        <p class="text-gray-700 mb-0">Browse our fully designed UI!</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid"
                                                        src="/assets/img/illustrations/at-work.svg"
                                                        style="max-width: 26rem" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-6 mb-4">
                                    <div class="card card-header-actions h-100">
                                        <div class="card-header">
                                            Recent Activity
                                            <div class="dropdown no-caret">
                                                <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                    id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"
                                                        data-feather="more-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <h6 class="dropdown-header">Filter Activity:</h6>
                                                    <a class="dropdown-item" href="#!"><span
                                                            class="badge bg-green-soft text-green my-1">Commerce</span></a>
                                                    <a class="dropdown-item" href="#!"><span
                                                            class="badge bg-blue-soft text-blue my-1">Reporting</span></a>
                                                    <a class="dropdown-item" href="#!"><span
                                                            class="badge bg-yellow-soft text-yellow my-1">Server</span></a>
                                                    <a class="dropdown-item" href="#!"><span
                                                            class="badge bg-purple-soft text-purple my-1">Users</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="timeline timeline-xs">
                                                <!-- Timeline Item 1-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">27 min</div>
                                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        New order placed!
                                                        <a class="fw-bold text-dark" href="#!">Order #2912</a>
                                                        has been successfully placed.
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 2-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">58 min</div>
                                                        <div class="timeline-item-marker-indicator bg-blue"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        Your
                                                        <a class="fw-bold text-dark" href="#!">weekly report</a>
                                                        has been generated and is ready to view.
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 3-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">2 hrs</div>
                                                        <div class="timeline-item-marker-indicator bg-purple"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        New user
                                                        <a class="fw-bold text-dark" href="#!">Valerie Luna</a>
                                                        has registered
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 4-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">1 day</div>
                                                        <div class="timeline-item-marker-indicator bg-yellow"></div>
                                                    </div>
                                                    <div class="timeline-item-content">Server activity monitor alert
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 5-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">1 day</div>
                                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        New order placed!
                                                        <a class="fw-bold text-dark" href="#!">Order #2911</a>
                                                        has been successfully placed.
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 6-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">1 day</div>
                                                        <div class="timeline-item-marker-indicator bg-purple"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        Details for
                                                        <a class="fw-bold text-dark" href="#!">Marketing and
                                                            Planning
                                                            Meeting</a>
                                                        have been updated.
                                                    </div>
                                                </div>
                                                <!-- Timeline Item 7-->
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text">2 days</div>
                                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                                    </div>
                                                    <div class="timeline-item-content">
                                                        New order placed!
                                                        <a class="fw-bold text-dark" href="#!">Order #2910</a>
                                                        has been successfully placed.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-6 mb-4">
                                    <div class="card card-header-actions h-100">
                                        <div class="card-header">
                                            Progress Tracker
                                            <div class="dropdown no-caret">
                                                <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                    id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"
                                                        data-feather="more-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#!">
                                                        <div class="dropdown-item-icon"><i class="text-gray-500"
                                                                data-feather="list"></i></div>
                                                        Manage Tasks
                                                    </a>
                                                    <a class="dropdown-item" href="#!">
                                                        <div class="dropdown-item-icon"><i class="text-gray-500"
                                                                data-feather="plus-circle"></i></div>
                                                        Add New Task
                                                    </a>
                                                    <a class="dropdown-item" href="#!">
                                                        <div class="dropdown-item-icon"><i class="text-gray-500"
                                                                data-feather="minus-circle"></i></div>
                                                        Delete Tasks
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="small">
                                                Server Migration
                                                <span class="float-end fw-bold">20%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                    style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small">
                                                Sales Tracking
                                                <span class="float-end fw-bold">40%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small">
                                                Customer Database
                                                <span class="float-end fw-bold">60%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar" role="progressbar" style="width: 60%"
                                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small">
                                                Payout Details
                                                <span class="float-end fw-bold">80%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small">
                                                Account Setup
                                                <span class="float-end fw-bold">Complete!</span>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="card-footer position-relative">
                                            <div
                                                class="d-flex align-items-center justify-content-between small text-body">
                                                <a class="stretched-link text-body" href="#!">Visit Task Center</a>
                                                <i class="fas fa-angle-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Example Charts for Dashboard Demo-->
                            <div class="row">
                                <div class="col-xl-6 mb-4">
                                    <div class="card card-header-actions h-100">
                                        <div class="card-header">
                                            Earnings Breakdown
                                            <div class="dropdown no-caret">
                                                <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                    id="areaChartDropdownExample" type="button"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><i class="text-gray-500"
                                                        data-feather="more-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                    aria-labelledby="areaChartDropdownExample">
                                                    <a class="dropdown-item" href="#!">Last 12 Months</a>
                                                    <a class="dropdown-item" href="#!">Last 30 Days</a>
                                                    <a class="dropdown-item" href="#!">Last 7 Days</a>
                                                    <a class="dropdown-item" href="#!">This Month</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#!">Custom Range</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-area"><canvas id="myAreaChart" width="100%"
                                                    height="30"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-4">
                                    <div class="card card-header-actions h-100">
                                        <div class="card-header">
                                            Monthly Revenue
                                            <div class="dropdown no-caret">
                                                <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                    id="areaChartDropdownExample" type="button"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><i class="text-gray-500"
                                                        data-feather="more-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                    aria-labelledby="areaChartDropdownExample">
                                                    <a class="dropdown-item" href="#!">Last 12 Months</a>
                                                    <a class="dropdown-item" href="#!">Last 30 Days</a>
                                                    <a class="dropdown-item" href="#!">Last 7 Days</a>
                                                    <a class="dropdown-item" href="#!">This Month</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#!">Custom Range</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-bar"><canvas id="myBarChart" width="100%"
                                                    height="30"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Example DataTable for Dashboard Demo-->
                            <div class="card mb-4">
                                <div class="card-header">Personnel Management</div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% Object.values(users).forEach((doc)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= doc._id %>
                                                    </td>
                                                    <td>
                                                        <%= doc.idSerial %>
                                                    </td>
                                                    <td>
                                                        <%= doc.time %>
                                                    </td>
                                                    <td>
                                                        <%= doc.value %>
                                                    </td>
                                                    <td>2011/04/25</td>
                                                    <td>$320,800</td>
                                                    <td>
                                                        <div class="badge bg-primary text-white rounded-pill">Full-time
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                                                data-feather="more-vertical"></i></button>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark"><i
                                                                data-feather="trash-2"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Garrett Winters</td>
                                                    <td>Accountant</td>
                                                    <td>Tokyo</td>
                                                    <td>63</td>
                                                    <td>2011/07/25</td>
                                                    <td>$170,750</td>
                                                    <td>
                                                        <div class="badge bg-warning rounded-pill">Pending</div>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                                                data-feather="more-vertical"></i></button>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark"><i
                                                                data-feather="trash-2"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ashton Cox</td>
                                                    <td>Junior Technical Author</td>
                                                    <td>San Francisco</td>
                                                    <td>66</td>
                                                    <td>2009/01/12</td>
                                                    <td>$86,000</td>
                                                    <td>
                                                        <div class="badge bg-secondary text-white rounded-pill">
                                                            Part-time
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                                                data-feather="more-vertical"></i></button>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark"><i
                                                                data-feather="trash-2"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Cedric Kelly</td>
                                                    <td>Senior Javascript Developer</td>
                                                    <td>Edinburgh</td>
                                                    <td>22</td>
                                                    <td>2012/03/29</td>
                                                    <td>$433,060</td>
                                                    <td>
                                                        <div class="badge bg-info rounded-pill">Contract</div>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                                                data-feather="more-vertical"></i></button>
                                                        <button
                                                            class="btn btn-datatable btn-icon btn-transparent-dark"><i
                                                                data-feather="trash-2"></i></button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                    <%- include('footer.ejs') %>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            crossorigin="anonymous"></script>
        <script src="/assets/demo/chart-area-demo.js"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables/datatables-simple-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        <script src="/js/litepicker.js"></script>
</body>

</html>