<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        <%= title%>
    </title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/demo/cards/card-img-bottom.jpg" />
    <script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-gradient-primary-to-secondary"
        id="sidenavAccordion">
        <!-- Sidenav Toggle Button-->
        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i
                data-feather="menu"></i></button>
        <!-- Navbar Brand-->
        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/index">Project C02</a>
        <!-- Navbar Items-->
        <ul class="navbar-nav align-items-center ms-auto">
            <!-- User Dropdown-->
            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                    href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img class="img-fluid"
                        src="/assets/img/illustrations/profiles/profile-1.png" /></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="/assets/img/illustrations/profiles/profile-1.png" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">
                                <%= currentUser.username %>
                            </div>
                            <div class="dropdown-user-details-email">
                                <%= currentUser.email %>
                            </div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile">
                        <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                        Account
                    </a>
                    <a class="dropdown-item" href="/logout">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <%- include('sidebar.ejs') %>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Dashboard
                                        </h1>
                                        <div class="page-header-subtitle">Example dashboard overview and content
                                            summary</div>
                                        <div class="small">
                                            <i class="far fa-clock fa-spin fa-lg text-white-50"></i>
                                            <span class="fw-500 text-white-50" id="time"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-12 mb-4">
                                <!-- Pie chart with legend example-->
                                <div class="card h-100">
                                    <div class="card-header">Traffic Sources</div>
                                    <div class="card-body">
                                        <div class="chart-pie mb-4"><canvas id="myPieChart" width="100%"
                                                height="50"></canvas></div>
                                        <div class="list-group list-group-flush">
                                            <div
                                                class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                <div class="me-3">
                                                    <i class="fas fa-circle fa-sm me-1 text-warning"></i>
                                                    Temperature
                                                </div>
                                                <div class="fw-500 text-dark" id="resultX"></div>
                                            </div>
                                            <div
                                                class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                <div class="me-3">
                                                    <i class="fas fa-circle fa-sm me-1 text-green"></i>
                                                    Null
                                                </div>
                                                <div class="fw-500 text-dark" id="resultY"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 mb-4">
                                <!-- Pie chart with legend example-->
                                <div class="card h-100">
                                    <div class="card-header">Traffic Sources</div>
                                    <div class="card-body">
                                        <div class="chart-pie mb-4"><canvas id="myPieChart1" width="100%"
                                                height="50"></canvas></div>
                                        <div class="list-group list-group-flush">
                                            <div
                                                class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                <div class="me-3">
                                                    <i class="fas fa-circle fa-sm me-1 text-primary"></i>
                                                    Humidity
                                                </div>
                                                <div class="fw-500 text-dark" id="resultXX"></div>
                                            </div>
                                            <div
                                                class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                <div class="me-3">
                                                    <i class="fas fa-circle fa-sm me-1 text-green"></i>
                                                    Null
                                                </div>
                                                <div class="fw-500 text-dark" id="resultYY"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">Progress Tracker</div>
                                    <div class="card-body">
                                        <h4 class="small">
                                            Temperature
                                            <span class="float-end fw-bold">
                                                <%= temp.temperature %> °C
                                            </span>
                                        </h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                style="width: <%= temp.temperature %>%"
                                                aria-valuenow="<%= temp.temperature %>" aria-valuemin="0"
                                                aria-valuemax="80"></div>
                                        </div>
                                        <h4 class="small">
                                            Humidity
                                            <span class="float-end fw-bold">
                                                <%= temp.humidity %> %
                                            </span>
                                        </h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-primary" role="progressbar"
                                                style="width: <%= temp.humidity %>%"
                                                aria-valuenow="<%= temp.humidity %>" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <h4 class="small">
                                            AQI
                                            <span class="float-end fw-bold">
                                                <%= temp.aqi %> µg./m3
                                            </span>
                                        </h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                style="width: <%= temp.aqi %>%" aria-valuenow="<%= temp.aqi %>"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Example Charts for Dashboard Demo-->
                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Earnings Breakdown
                                        <div class="dropdown no-caret">
                                            <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                id="areaChartDropdownExample" type="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"
                                                    data-feather="more-vertical"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                aria-labelledby="areaChartDropdownExample">
                                                <a class="dropdown-item" href="#!">Last 12 Months</a>
                                                <a class="dropdown-item" href="#!">Last 30 Days</a>
                                                <a class="dropdown-item" href="#!">Last 7 Days</a>
                                                <a class="dropdown-item" href="#!">This Month</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#!">Custom Range</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="myAreaChart" width="100%"
                                                height="30"></canvas></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Monthly Revenue
                                        <div class="dropdown no-caret">
                                            <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                                id="areaChartDropdownExample" type="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"
                                                    data-feather="more-vertical"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                                aria-labelledby="areaChartDropdownExample">
                                                <a class="dropdown-item" href="#!">Last 12 Months</a>
                                                <a class="dropdown-item" href="#!">Last 30 Days</a>
                                                <a class="dropdown-item" href="#!">Last 7 Days</a>
                                                <a class="dropdown-item" href="#!">This Month</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#!">Custom Range</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-bar"><canvas id="myBarChart" width="100%"
                                                height="30"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Example DataTable for Dashboard Demo-->
                        <div class="card mb-4">
                            <div class="card-header">Personnel Management</div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>Temperature</th>
                                            <th>Humidity</th>
                                            <th>AQI</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>Temperature</th>
                                            <th>Humidity</th>
                                            <th>AQI</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% Object.values(users).forEach((doc)=> { %>
                                            <tr>
                                                <td>
                                                    <%= doc.date %> d
                                                </td>
                                                <td>
                                                    <%= doc.time %> h/min
                                                </td>
                                                <td>
                                                    <%= doc.temperature %> °C
                                                </td>
                                                <td>
                                                    <%= doc.humidity %> %
                                                </td>
                                                <td>
                                                    <%= doc.aqi %> µg./m3
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('footer.ejs') %>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/datatables/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-pie-demo.js"></script>
    <script>
        function refreshTime() {
            var x = new Date()
            var ampm = x.getHours() >= 12 ? ' PM' : ' AM';
            hours = x.getHours() % 12;
            hours = hours ? hours : 12;
            hours = hours.toString().length == 1 ? 0 + hours.toString() : hours;
            var minutes = x.getMinutes().toString()
            minutes = minutes.length == 1 ? 0 + minutes : minutes;
            var seconds = x.getSeconds().toString()
            seconds = seconds.length == 1 ? 0 + seconds : seconds;
            var month = (x.getMonth() + 1).toString();
            month = month.length == 1 ? 0 + month : month;
            var dt = x.getDate().toString();
            dt = dt.length == 1 ? 0 + dt : dt;
            var x1 = month + "/" + dt + "/" + x.getFullYear();
            x1 = x1 + " - " + hours + ":" + minutes + ":" + seconds + " " + ampm;
            document.getElementById('time').innerHTML = x1;
        }
        setInterval(refreshTime, 1000);
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
    <script>
        var temperature = ''
    </script>
</body>

</html>