<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

    <body class="nav-fixed">
        <%- include('navbar.ejs') %>
            <div id="layoutSidenav">
                <%- include('sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <header class="page-header page-header-dark pb-10">
                                <div class="container-xl px-4">
                                    <div class="page-header-content pt-4">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-auto mt-4">
                                                <h1 class="page-header-title">
                                                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                                                    Dashboard
                                                </h1>
                                                <div class="page-header-subtitle">Dashboard overview and content
                                                    summary</div>
                                                <div class="small">
                                                    <i class="far fa-clock fa-spin fa-lg text-black-50"></i>
                                                    <span class="fw-500 text-black-50" id="time"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Main page content-->
                            <div class="container-xl px-4 mt-n10">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <!-- Illustration dashboard card example-->
                                        <div class="row">
                                            <div class="col-xl-6 mb-4">
                                                <div class="card card-header-actions h-100">
                                                    <div class="card-header">
                                                        <!-- Dashboard card navigation 1-->
                                                        <ul class="nav nav-tabs card-header-tabs">
                                                            <li class="nav-item"><a>Temperature</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab">
                                                            <!-- Dashboard Tab Pane 1-->
                                                            <div class="tab-pane">
                                                                <div class="chart-bar" style="height: 20rem">
                                                                    <canvas id="myBarChart" width="100%"
                                                                        height="30"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-4">
                                                <div class="card card-header-actions h-100">
                                                    <div class="card-header">
                                                        <!-- Dashboard card navigation 1-->
                                                        <ul class="nav nav-tabs card-header-tabs">
                                                            <li class="nav-item"><a>Humidity</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab">
                                                            <!-- Dashboard Tab Pane 2-->
                                                            <div class="tab-pane">
                                                                <div class="chart-bar" style="height: 20rem">
                                                                    <canvas id="myBarChart1" width="100%"
                                                                        height="30"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-4">
                                                <div class="card card-header-actions h-100">
                                                    <div class="card-header">
                                                        <!-- Dashboard card navigation 1-->
                                                        <ul class="nav nav-tabs card-header-tabs">
                                                            <li class="nav-item"><a>AQI</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab">
                                                            <!-- Dashboard Tab Pane 3-->
                                                            <div class="tab-pane">
                                                                <div class="chart-bar" style="height: 20rem">
                                                                    <canvas id="myBarChart2" width="100%"
                                                                        height="30"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-4">
                                                <div class="card card-header-actions h-100">
                                                    <div class="card-header">
                                                        <!-- Dashboard card navigation 1-->
                                                        <ul class="nav nav-tabs card-header-tabs">
                                                            <li class="nav-item"><a>Power</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab">
                                                            <!-- Dashboard Tab Pane 3-->
                                                            <div class="tab-pane">
                                                                <div class="chart-bar" style="height: 20rem">
                                                                    <canvas id="myBarChart3" width="100%"
                                                                        height="30"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-xl-6 col-xxl-12">
                                                    <!-- Team members / people dashboard card example-->
                                                    <div class="card mb-4">
                                                        <div class="card-header">Selected Device</div>
                                                        <div>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>on/off</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% Object.values(users2).forEach((doc2)=> { %>
                                                                        <tr>
                                                                            <td>
                                                                                <label>
                                                                                    <%= doc2.namesensor %>
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <form action="/switch1" method="post">
                                                                                    <div class="mb-2 text-center">
                                                                                        <input type="hidden"
                                                                                            type="checkbox"
                                                                                            value="relay1"
                                                                                            name="pinMQTT"
                                                                                            checked="checked"
                                                                                            onclick="return ValidatePetSelection();">
                                                                                        <label for="pin1">Channel
                                                                                            1</label>
                                                                                        <label class="switch">
                                                                                            <input type="checkbox"
                                                                                                name="onoff1"
                                                                                                onclick="clickFn(event)"
                                                                                                <%=doc2.onoff1
                                                                                                ? " checked " : "" %> >
                                                                                            <span
                                                                                                class="slider round"></span>
                                                                                            <input type=""
                                                                                                value="<%= doc2.namesensor %>"
                                                                                                name="namesensor">
                                                                                            <input type=""
                                                                                                value="<%= doc2.idMicro %>"
                                                                                                name="idMicro">
                                                                                            <input type=""
                                                                                                value="<%= doc2._id %>"
                                                                                                name="_id">
                                                                                        </label>
                                                                                    </div>
                                                                                </form>
                                                                                <form action="/switch2" method="post">
                                                                                    <div class="text-center">
                                                                                        <input type="hidden"
                                                                                            type="checkbox"
                                                                                            value="relay2"
                                                                                            name="pinMQTT"
                                                                                            checked="checked"
                                                                                            onclick="return ValidatePetSelection();">
                                                                                        <label for="pin2">Channel
                                                                                            2</label>
                                                                                        <label class="switch">
                                                                                            <input type="checkbox"
                                                                                                name="onoff2"
                                                                                                onclick="clickFn(event)"
                                                                                                <%=doc2.onoff2
                                                                                                ? " checked " : "" %> >
                                                                                            <span
                                                                                                class="slider round"></span>
                                                                                            <input type=""
                                                                                                value="<%= doc2.namesensor %>"
                                                                                                name="namesensor">
                                                                                            <input type=""
                                                                                                value="<%= doc2.idMicro %>"
                                                                                                name="idMicro">
                                                                                            <input type=""
                                                                                                value="<%= doc2._id %>"
                                                                                                name="_id">
                                                                                        </label>
                                                                                    </div>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                                        <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-xxl-12">
                                                    <!-- Team members / people dashboard card example-->
                                                    <div class="card mb-4">
                                                        <div class="card-header">Devices</div>
                                                        <div class="card-body">
                                                            <!-- Item 1-->
                                                            <% Object.values(users1).forEach((doc1)=> { %>
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between mb-4">
                                                                    <div
                                                                        class="d-flex align-items-center flex-shrink-0 me-3">
                                                                        <div class="avatar avatar-xl me-3 bg-gray-200">
                                                                            <img class="avatar-img img-fluid"
                                                                                src="assets/img/favicon.png" alt="" />
                                                                        </div>
                                                                        <div class="d-flex flex-column fw-bold">
                                                                            <a class="text-dark line-height-normal mb-1"
                                                                                href="/<%= doc1.serialnumber %>">
                                                                                <%= doc1.namemicrocontroller %>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <%- include('footer.ejs') %>
                    </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                crossorigin="anonymous"></script>
            <script src="/assets/demo/chart-bar-demo.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
            <script src="js/datatables/datatables-simple-demo.js"></script>
            <script src="js/scrollpos.js"></script>
            <script src="js/refreshTime.js"></script>
            <script src="js/data.js"></script>
            <script src="js/clickFn.js"></script>
    </body>

</html>