<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

    <body class="nav-fixed">
        <%- include('navbar.ejs') %>
            <div id="layoutSidenav">
                <%- include('sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <header
                                class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                                <div class="container-xl px-4">
                                    <div class="page-header-content">
                                        <div class="row align-items-center justify-content-between pt-3">
                                            <div class="col-auto mb-3">
                                                <h1 class="page-header-title">
                                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                                    Account Settings - Security
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Main page content-->
                            <div class="container-xl px-4 mt-4">
                                <!-- Account page navigation-->
                                <nav class="nav nav-borders">
                                    <a class="nav-link ms-0" href="/profile">Profile</a>
                                    <a class="nav-link active" href="/security">Security</a>
                                </nav>
                                <hr class="mt-0 mb-4" />
                                <div class="row">
                                    <div class="col-lg-8">
                                        <!-- Change password card-->
                                        <div class="card mb-4">
                                            <div class="card-header">Change Password</div>
                                            <div class="card-body">
                                                <form class="form-horizontal" method="post" action="/updatePassword">
                                                    <input type="hidden" value="<%= currentUser._id %>"
                                                        name="update_id">
                                                    <!-- Form Group (current password)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="currentPassword">Current
                                                            Password</label>
                                                        <input class="form-control" id="currentPassword" type="password"
                                                            name="currentPassword" placeholder="Enter current password"
                                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                                                    </div>
                                                    <!-- Form Group (new password)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="newPassword">New Password</label>
                                                        <input class="form-control" id="newPassword" type="password"
                                                            name="newPassword" placeholder="Enter new password"
                                                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;"
                                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                                                    </div>
                                                    <!-- Form Group (confirm password)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="confirmPassword">Confirm
                                                            Password</label>
                                                        <input class="form-control" id="confirmPassword" type="password"
                                                            name="confirmPassword" placeholder="Confirm new password"
                                                            onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                                                    </div>
                                                    <!-- Save button-->
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <!-- Delete account card-->
                                        <div class="card mb-4">
                                            <div class="card-header">Delete Account</div>
                                            <div class="card-body">
                                                <p>Deleting your account is a permanent action and cannot be undone. If
                                                    you
                                                    are sure you want to delete your account, select the button below.
                                                </p>
                                                <a href="/delete" class="btn btn-danger-soft text-danger" type="button"
                                                    onclick="return confirm('Are you sure')">
                                                    understand, delete my account</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <%- include('footer.ejs') %>
                    </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function (event) {
                    var scrollpos = localStorage.getItem('scrollpos');
                    if (scrollpos) window.scrollTo(0, scrollpos);
                });
                window.onbeforeunload = function (e) {
                    localStorage.setItem('scrollpos', window.scrollY);
                };
            </script>
    </body>

</html>