<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

    <body class="nav-fixed">
        <%- include('navbar.ejs') %>
            <div id="layoutSidenav">
                <%- include('sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <header class="page-header page-header-dark pb-10">
                                <div class="container-xl px-4">
                                    <div class="page-header-content pt-4">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-auto mt-4">
                                                <h1 class="page-header-title">
                                                    <div class="page-header-icon"><i data-feather="filter"></i></div>
                                                    Table Sensors
                                                </h1>
                                                <div class="page-header-subtitle">The table shows the sensors that have
                                                    been added.</div>
                                                <div class="small">
                                                    <i class="far fa-clock fa-spin fa-lg text-white-50"></i>
                                                    <span class="fw-500 text-white-50" id="time"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Main page content-->
                            <div class="container-xl px-4 mt-n10">
                                <div class="card mb-4">
                                    <div class="card-header">Extended DataTables</div>
                                    <div class="card-body">
                                        <table id="example" class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>On / Off</th>
                                                    <th>Frequency</th>
                                                    <th>Auto On / Off</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% Object.values(users).forEach((doc)=> { %>
                                                    <tr>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="<%= doc.namesensor %>/dashboard1 %>">
                                                                    <%= doc.namesensor %>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <form action="/switch1" method="post">
                                                                <div class="mb-2 text-center">
                                                                    <input type="hidden" type="checkbox" value="relay1" name="pinMQTT" checked="checked"
                                                                        onclick="return ValidatePetSelection();">
                                                                    <label for="pin1">Channel 1</label>
                                                                    <label class="switch">
                                                                        <input type="checkbox" name="onoff1"
                                                                            onclick="clickFn(event)" <%= doc.onoff1
                                                                            ? " checked " : "" %> >
                                                                        <span class="slider round"></span>
                                                                        <input type="hidden"
                                                                            value="<%= doc.namesensor %>"
                                                                            name="namesensor">
                                                                        <input type="hidden" value="<%= doc.idMicro %>"
                                                                            name="idMicro">
                                                                        <input type="hidden" value="<%= doc._id %>"
                                                                            name="_id">
                                                                    </label>
                                                                </div>
                                                            </form>
                                                            <form action="/switch2" method="post">
                                                                <div class="text-center">
                                                                    <input type="hidden" type="checkbox" value="relay2" name="pinMQTT" checked="checked"
                                                                        onclick="return ValidatePetSelection();">
                                                                    <label for="pin2">Channel 2</label>
                                                                    <label class="switch">
                                                                        <input type="checkbox" name="onoff2"
                                                                            onclick="clickFn(event)" <%= doc.onoff2
                                                                            ? " checked " : "" %> >
                                                                        <span class="slider round"></span>
                                                                        <input type="hidden"
                                                                            value="<%= doc.namesensor %>"
                                                                            name="namesensor">
                                                                        <input type="hidden" value="<%= doc.idMicro %>"
                                                                            name="idMicro">
                                                                        <input type="hidden" value="<%= doc._id %>"
                                                                            name="_id">
                                                                    </label>
                                                                </div>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action="updatefrequency" method="post">
                                                                <select class="form-select mb-2"
                                                                    aria-label="Default select example" name="frequency">
                                                                    <% var options2=[doc.frequency] %>
                                                                        <option value="<%= options2 %>">
                                                                            <%= doc.frequency %> Second
                                                                        </option>
                                                                        <% var options1=["10", "20" , "30", "40" , "50" , "60" ]; %>
                                                                            <% const output=options1.filter(function(obj) { return JSON.stringify(options2).indexOf(obj)===-1; }); %>
                                                                                <% for(var i=0; i < output.length; i++) { %>
                                                                                    <option value="<%= output[i] %>">
                                                                                        <%= output[i] %> Second
                                                                                    </option>
                                                                            <% } %>
                                                                </select>
                                                                <input type="hidden" value="<%= doc.namesensor %>"
                                                                    name="namesensor">
                                                                <input type="hidden" value="<%= doc.idMicro %>"
                                                                    name="idMicro">
                                                                <input type="hidden" value="<%= doc._id %>" name="_id">
                                                                <button class="btn btn-primary" type="submit">Save
                                                                    changes</button>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action="/autoOn" method="post">
                                                                <div class="row g-3 align-items-center" style="width: 270px">
                                                                    <label for="TextInput" class="form-label">The Desired Temperature is On.</label>
                                                                    <div class="mb-3">
                                                                        <select class="form-inline" name="autoOn" id="autoOn">
                                                                            <% var options4=[doc.autoOn] %>
                                                                                <option value="<%= options4 %>">
                                                                                    <%= doc.autoOn %>  ํC
                                                                                </option>
                                                                                <option value="Not Set">Not Set</option>
                                                                                <% var options3=["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50" ]; %>
                                                                                    <% const output1=options3.filter(function(obj) { return JSON.stringify(options4).indexOf(obj)===-1; }); %>
                                                                                        <% for(var i=0; i < output1.length; i++) { %>
                                                                                            <option value="<%= output1[i] %>">
                                                                                                <%= output1[i] %> ํC
                                                                                            </option>
                                                                                    <% } %>
                                                                        </select>
                                                                        <input type="hidden" value="<%= doc._id %>" name="_id">
                                                                        <button class="btn btn-success" type="submit">On</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <form action="/autoOff" method="post">
                                                                <div class="row g-3 align-items-center" style="width: 270px">
                                                                    <label for="TextInput" class="form-label">The Desired Temperature is Off.</label>
                                                                    <div class="mb-3">
                                                                        <select class="form-inline" name="autoOff" id="autoOff">
                                                                            <% var options6=[doc.autoOff] %>
                                                                                <option value="<%= options4 %>">
                                                                                    <%= doc.autoOff %>  ํC
                                                                                </option>
                                                                                <option value="Not Set">Not Set</option>
                                                                                <% var options5=["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50" ]; %>
                                                                                    <% const output2=options5.filter(function(obj) { return JSON.stringify(options6).indexOf(obj)===-1; }); %>
                                                                                        <% for(var i=0; i < output2.length; i++) { %>
                                                                                            <option value="<%= output2[i] %>">
                                                                                                <%= output2[i] %>  ํC
                                                                                            </option>
                                                                                    <% } %>
                                                                        </select>
                                                                        <input type="hidden" value="<%= doc._id %>" name="_id">
                                                                        <button class="btn btn-danger" type="submit">Off</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <div class="text-center">
                                                                <a href="/deleteSensor/<%= doc._id %>"
                                                                    onclick="return confirm('Are you sure')">
                                                                    <i href data-feather="trash-2"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <a href="/add-Sensor" class="btn btn-primary btn-lg active" role="button">Add
                                            Sensor</a>
                                        <a href="/add-admin" class="btn btn-success btn-lg active" role="button">Add
                                            Member</a>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/tables">Back Tables</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <%- include('footer.ejs') %>
                    </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
            <script src="js/datatables/datatables-simple-demo.js"></script>
            <!-- <script src="/assets/demo/on.js"></script> -->
            <script src="js/scrollpos.js"></script>
            <script src="js/refreshTime.js"></script>
            <script src="js/clickFn.js"></script>
    </body>

</html>