<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

    <body class="nav-fixed">
        <%- include('navbar.ejs') %>
            <div id="layoutSidenav">
                <%- include('sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <header class="page-header page-header-dark pb-10">
                                <div class="container-xl px-4">
                                    <div class="page-header-content pt-4">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-auto mt-4">
                                                <h1 class="page-header-title">
                                                    <div class="page-header-icon"><i data-feather="filter"></i></div>
                                                    Table Sensors
                                                </h1>
                                                <div class="page-header-subtitle">The table shows the sensors that have
                                                    been added.</div>
                                                <div class="small">
                                                    <i class="far fa-clock fa-spin fa-lg text-white-50"></i>
                                                    <span class="fw-500 text-white-50" id="time"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Main page content-->
                            <div class="container-xl px-4 mt-n10">
                                <div class="card mb-4">
                                    <div class="card-header">Extended DataTables</div>
                                    <div class="card-body">
                                        <table id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>On / Off</th>
                                                    <!-- <th>Frequency</th> -->
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>On / Off</th>
                                                    <!-- <th>Frequency</th> -->
                                                    <th>Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <% Object.values(users, frequency).forEach((doc, doc1)=> { %>
                                                    <tr>
                                                        <td>
                                                            <a href="<%= doc.sensorPin %>/dashboard1">
                                                                <%= doc.namesensor %>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <form action="/switch" method="post">
                                                                <label class="switch">
                                                                    <input type="checkbox" name="onoff"
                                                                        onclick="clickFn(event)" <%=doc.onoff
                                                                        ? "checked" : "" %> >
                                                                    <span class="slider round"></span>
                                                                    <input type="hidden" value="<%= doc.sensorPin %>"
                                                                        name="sensorPin">
                                                                    <input type="hidden" value="<%= doc.idMicro %>"
                                                                        name="idMicro">
                                                                    <input type="" value="<%= doc._id %>" name="_id">
                                                                </label>
                                                            </form>
                                                        </td>
                                                        <!-- <td>
                                                                <select class="form-select mb-3"
                                                                    aria-label="Default select example"
                                                                    name="frequency">
                                                                    <% if (doc1) { %>
                                                                        <%= doc1 %>
                                                                            <% var options1=["1", "2", "3", "4", "5", "10", "30", "60" ]; %>
                                                                                <% const output=options1.filter(function (obj) { return JSON.stringify(doc1).indexOf(obj)===-1; }); %>
                                                                                    <% for(var i=0; i < output.length; i++) { %>
                                                                                        <option value="<%= output[i] %>">
                                                                                            <%= output[i] %> min
                                                                                        </option>
                                                                                    <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </td> -->
                                                        <td>
                                                            <a href="/deleteSensor/<%= doc._id %>"
                                                                onclick="return confirm('Are you sure')">
                                                                <i href data-feather="trash-2"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <a href="/add-Sensor" class="btn btn-primary btn-lg active" role="button">Add
                                            Sensor</a>
                                        <a href="/add-admin" class="btn btn-success btn-lg active" role="button">Add
                                            admin</a>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/tables">Back Tables</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <%- include('footer.ejs') %>
                    </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
            <script src="js/datatables/datatables-simple-demo.js"></script>
            <script src="js/scrollpos.js"></script>
            <script src="js/refreshTime.js"></script>
            <script src="js/clickFn.js"></script>
    </body>

</html>